data/fundus/images
data/fundus/ground_truth
*.pyc
src/odn/models/rpn/pretrained_rpn_vgg_model.36-1.42.hdf5
notebooks/.ipynb_checkpoints/8.7 Object Detection -Fundus - Clean-checkpoint.ipynb
data/fundus/frcnn_19e
data/fundus/frcnn_19e_raw
data/fundus/frcnn_19e_naive
src/odn/frcnn_results_10e
src/odn/frcnn_results_19e
notebooks/comparison_separate
notebooks/.ipynb_checkpoints/8.7 Object Detection -Fundus - FRCNN DELETE-checkpoint.ipynb
notebooks/.ipynb_checkpoints/8.7 Object Detection -Fundus-checkpoint.ipynb
notebooks/8.7 Object Detection -Fundus - Clean.ipynb
notebooks/.ipynb_checkpoints/8.4 Object Detection - Fundus - TF-SSD-checkpoint.ipynb
notebooks/.ipynb_checkpoints/8.8 Object Detection -Fundus - II-checkpoint.ipynb
src/odn.egg-info
dist
src/odn/results
src/odn/tf_ssd/training
*-checkpoint.ipynb
src/odn/torch_yolo/models/yolov5x.pt
data/fundus/ssd_202206.txt
data/fundus/ssd_20220610.txt
src/odn/torch_yolo/2.4.1'
src/odn/torch_yolo/tmp8m7enlyk
