
flower_efficientnet_dataset.pkl
.ipynb_checkpoints/5.87 Fine Tuning (EfficientNetB4 fundus image classification C3)-checkpoint.ipynb
.ipynb_checkpoints/5.26 Lightweight Models Flower - EfficientNetB0-checkpoint.ipynb
.ipynb_checkpoints/5.26 Lightweight Models Flower - EfficientNetB0-checkpoint.ipynb
.ipynb_checkpoints/5.26 Lightweight Models Flower - EfficientNetB0-checkpoint.ipynb
.ipynb_checkpoints/5.26 Lightweight Models Flower - EfficientNetB0-checkpoint.ipynb
fundus_efficientnet_dataset.pkl
fundus_C3_customEfficientNetB4_model_best2.hdf5
notebooks/flower_customEfficientNetB0_model_best.hdf5
notebooks/fundus_C3_customEfficientNetB4_model_best.hdf5
fundus_C3_customEfficientNetB4_model_best.hdf5
flower_customEfficientNetB0_model_best.hdf5
fundus_C3_customEfficientNetB4_model_best.hdf5
flower_customEfficientNetB0_model_best.hdf5
*.pyc
src/odn/models/rpn/pretrained_rpn_vgg_model.36-1.42.hdf5
notebooks/.ipynb_checkpoints/8.7 Object Detection -Fundus - Clean-checkpoint.ipynb
data/fundus/frcnn_19e
data/fundus/frcnn_19e_raw
data/fundus/frcnn_19e_naive
src/odn/frcnn_results_10e
src/odn/frcnn_results_19e
notebooks/comparison_separate
notebooks/.ipynb_checkpoints/8.7 Object Detection -Fundus - FRCNN DELETE-checkpoint.ipynb
notebooks/.ipynb_checkpoints/8.7 Object Detection -Fundus-checkpoint.ipynb
notebooks/8.7 Object Detection -Fundus - Clean.ipynb
notebooks/.ipynb_checkpoints/8.4 Object Detection - Fundus - TF-SSD-checkpoint.ipynb
notebooks/.ipynb_checkpoints/8.8 Object Detection -Fundus - II-checkpoint.ipynb
src/odn.egg-info
dist
data/fundus/ssd
data/fundus/frcnn_19e_zones