data/fundus/images
data/fundus/ground_truth
*.pyc
src/odn/models/rpn/pretrained_rpn_vgg_model.36-1.42.hdf5
notebooks/.ipynb_checkpoints/8.7 Object Detection -Fundus - Clean-checkpoint.ipynb
data/fundus/frcnn_19e
data/fundus/frcnn_19e_raw
data/fundus/frcnn_19e_naive
src/odn/frcnn_results_10e
src/odn/frcnn_results_19e
notebooks/comparison_separate
notebooks/.ipynb_checkpoints/8.7 Object Detection -Fundus - FRCNN DELETE-checkpoint.ipynb
notebooks/.ipynb_checkpoints/8.7 Object Detection -Fundus-checkpoint.ipynb
notebooks/8.7 Object Detection -Fundus - Clean.ipynb
notebooks/.ipynb_checkpoints/8.4 Object Detection - Fundus - TF-SSD-checkpoint.ipynb
notebooks/.ipynb_checkpoints/8.8 Object Detection -Fundus - II-checkpoint.ipynb
src/odn.egg-info
dist
src/odn/results
src/odn/tf_ssd/training
notebooks/.ipynb_checkpoints/8.8 Object Detection -Fundus - FRCNN Prediction-checkpoint.ipynb
notebooks/.ipynb_checkpoints/8.8 Object Detection -Fundus - FRCNN Prediction Simple Demo-checkpoint.ipynb
notebooks/.ipynb_checkpoints/8.1 Object Detection - COCO-checkpoint.ipynb
notebooks/.ipynb_checkpoints/8.2 Object Detection - WebCam-checkpoint.ipynb
notebooks/.ipynb_checkpoints/8.3 Object Detection - Raccoon-checkpoint.ipynb
